# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
sentiment_env/
venv/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
